/* GOLD */
$goldD1: #4C3D10;
$goldD2: #695625;
$goldD3: #866F46;
$goldD4: #A48946;
$goldL1: #C1A45A;
$goldL2: #DEBF5A;
$goldL3: #FFE8AE;
$goldL4: #FFF9EB;

/* BLACK & WHITE */
$black: #333333;
$white: #ffffff;

/* GREY */
$greyD1: #474747;
$greyD2: #5C5C5C;
$greyD3: #707070;
$greyD4: #858585;
$greyL1: #ADADAD;
$greyL2: #C2C2C2;
$greyL3: #D6D6D6;
$greyL4: #EBEBEB;

/* GREEN */
$greenD1: #1F4C10;
$greenD2: #2E691D;
$greenD3: #408634;
$greenD4: #53A446;
$greenL1: #80DE71;
$greenL2: #B9FFAE;
$greenL3: #D7FFD1;
$greenL4: #F5FFF3;

/* RED */
$redD1: #621010;
$redD2: #841D1D;
$redD3: #A62E2E;
$redD4: #C84343;
$redL1: #EA5C5C;
$redL2: #FF7474;
$redL3: #FFB2B2;
$redL4: #FFF1F1;
